body {
    margin: 0;
    background-color: #6f42c1;
    font-family: Arial, sans-serif;
}

.clock-container {
    text-align: center;
    color: #ffffff;
    margin-top: 50px;   /* space from top */
}

#clock {
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
    color: #38bdf8;
}
.marquee {
  overflow: hidden;
}

.marquee p {
  display: inline-block;
  white-space: nowrap;
  animation: move 8s linear infinite;
}

@keyframes move {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
